{% extends "layout.html" %}

{% block style_css %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}" />{% endblock %}

{% block content %}
    <div id="home_content">
        <menu id="menu">
            <ul id="menu_buttons">
                <li><a class="button" href="{{ url_for('login') }}"><i class="fa fa-user"></i> Iniciar Sesión</a></li>
            </ul>
        </menu>
        <div id="presentation">
            <h1>Sistema de parqueo</h1>
            <h3>Esto es un sistema que que se encarga de controlar un sistema de parqueo. <br></h3>
            <img src="/static/media/parking.jpg">
        </div>
    </div>
{% endblock %}