{% extends "layout.html" %}

{% block style_css %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />{% endblock %}
{% block script %}<script src="{{ url_for('static', filename='js/main.js') }}" ></script>
<script> window.addEventListener('load', enabled_admin_buttons("{{ admin_validated }}")) </script>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>{% endblock %}


{% block content %}
<div id="container">
    <menu id="menu">
        <ul>
            <li><a href="/logout" class="button"><i class="fa fa-closed-captioning"></i> Cerrar Sesión</a></li>
        </ul>
    </menu>
    <aside id="aside">
        <li id="aside_menu">
            <ul id="option1" class="sel_option"><a href="#"><i class="fa fa-id-card"></i> Generar Ticket de Estacionamiento</a></ul>
            <ul id="option2" class="sel_option"><a href="#"><i class="fa fa-clipboard-list"></i> Ver Historial de Tickets</a></ul>
            <ul id="option3" class="sel_option"><a href="#"><i class="fa fa-registered"></i> Ver Historial de Boletas Generadas</a></ul>  
            <!--<ul id="option4" class="sel_option"><a href="#"><i class="fa fa-car-side"></i> Ver Vehículos Dentro del Estacionamiento</a></ul>  --> 
            <ul id="option4" class="sel_option"><a href="#"><i class="fa fa-user-lock"></i> Administrar empleados</a></ul>   
        </li>
    </aside>
    <div id="main_content">
        <div id="content1" class="main_contents">
            <section id="create_ticket">
                <p class="subtitle">Generar Ticket de Entrada</p>
                <form action="{{ url_for('main') }}" method="post">
                    <input type="hidden" name="form_name" value="ticket_generate">
                    <label for="car_id">Placa del Vehículo: </label>
                    <input type="text" name="car_id" id="car_id" placeholder="Ingrese la Placa del Vehículo." required><br>
                    <label for="car_type">Tipo del Vehículo: </label>
                    <input type="text" name="car_type" id="car_type" placeholder="Ingrese el Tipo del Vehículo." required><br>
                    <label for="subscriber_id">ID del Abonado: </label>
                    <input type="number" name="subscriber_id" id="subscriber_id" onkeyup="sub_id_validate('{{ subscribers_ids }}')" placeholder="Ingrese un ID existente."><br>
                    <button type="submit" class="button" id="ticket_gen"><i class="fas fa-ticket-alt"></i> Generar Ticket</button>
                    <p class="advertisement">*El ID del abonado no es un campo obligatorio.</p>
                </form>
            </section>
            <section id="add_subscriber">
                <p class="subtitle">Agregar Registro de Abonado</p>
                <form action="{{ url_for('main') }}" method="post">
                    <input type="hidden" name="form_name" value="add_subscriber">
                    <label for="subs_fullname">Nombres y Apellidos: </label>
                    <input type="text" name="subs_fullname" id="subs_fullname" placeholder="Ingrese los Nombres y Apellidos." required><br>
                    <label for="subs_init">Fecha de Inicio: </label>
                    <input type="date" name="subs_init" id="subs_init" placeholder="Ingrese la Fecha de Inicio." required><br>
                    <label for="subs_end">Fecha de Término: </label>
                    <input type="date" name="subs_end" id="subs_end" placeholder="Ingrese la Fecha de Término." required><br>
                    <label for="subs_pension">Pensión: </label>
                    <input type="number" name="subs_pension" id="subs_pension" placeholder="Ejm: 9999.99"><br>
                    <button type="submit" class="button"><i class="fas fa-id-badge"></i> Registrar Abonado</button>
                    <p class="advertisement">*Pensión no es un dato necesario.</p>
                </form>
            </section>
            <section id="cars_table">
                <p class="subtitle">Historial de Abonados Registrados</p>
                <table id="subscriber_report">
                    <tr>
                        <th>ID DEL ABONADO</th>
                        <th>NOMBRES Y APELLIDOS</th>
                        <th>FECHA DE INICIO</th>
                        <th>FECHA DE TÉRMINO</th>
                        <th>PLACA</th>
                        <th>TIPO DE VEHÍCULO</th>
                    </tr>
                    {% for i in subscribers %}
                        <tr>
                            <td>{{ i[0] }}</td>
                            <td>{{ i[1] }}</td>
                            <td>{{ i[2] }}</td>
                            <td>{{ i[3] }}</td>
                            <td>{{ i[4] }}</td>
                            <td>{{ i[5] }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% if subscribers|count == 0 %}
                    <th>
                        <b>Sin datos registrados.</b>
                    </th>
                {% endif %}
                <br><button class="button modify" onclick="ExportToExcel('subscriber_report','xlsx')" >Generar Reporte</button>
            </section>
        </div>
        <div id="content2" class="main_contents">
            <section id="tickets_table">
                <p class="subtitle">Historial de tickets</p>
                <table id="tickets_report">
                    <tr>
                        <th>ID DEL TICKET</th>
                        <th>PLACA DEL VEHÍCULO</th>
                        <th>HORA DE INGRESO</th>
                        <th>ACCIONES</th>
                    </tr>
                    {% for index in range((NoBoletas|count)) %}
                        <tr>
                            <td>{{ NoBoletas[index][0] }}</td>
                            <td>{{ NoBoletas[index][1] }}</td>
                            <td>{{ NoBoletas[index][2] }}</td>
                            <td class="ticket_buttons"><form action="{{ url_for('main') }}" method="post">
                                <input type="hidden" name="form_name" value="delete_ticket">
                                <input type="hidden" name="ticket_id" value="{{ NoBoletas[index][0] }}">
                                <button class="button delete" type="submit"><i class="fas fa-user-edit"></i> DEL</button>
                            </form>
                            <form action="{{ url_for('main') }}" method="post">
                                <input type="hidden" name="form_name" value="gen_boleta">
                                <input type="hidden" name="ticket_id" value="{{ NoBoletas[index][0] }}">
                                <button class="button modify" type="submit"><i class="fas fa-user-edit"></i> PAG</button>
                            </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% if NoBoletas|count == 0 %}
                    <th>
                        <b>Sin datos registrados.</b>
                    </th>
                {% endif %}
                <br><button class="button modify" onclick="ExportToExcel('tickets_report','xlsx')" >Generar Reporte</button>
            </section>
        </div>
        <div id="content3" class="main_contents">
            <section id="tickets_quantity">
                <p class="subtitle">Historial de Boletas Generadas</p>
                <h4>Cantidad: {{ boletas|count }}</h4>
            </section>
            <section id="tickets_table">
                <table id="boletas_report">
                    <tr>
                        <th>ID BOLETA</th>
                        <th>PLACA</th>
                        <th>HORA DE INGRESO</th>
                        <th>HORA DE SALIDA</th>
                        <th>PRECIO</th>
                    </tr>
                    {% for i in boletas %}
                        <tr>
                            <td>{{ i[0] }}</td>
                            <td>{{ i[1] }}</td>
                            <td>{{ i[2] }}</td>
                            <td>{{ i[3] }}</td>
                            <td>{{ i[4] }}</td>
                        </tr>
                    {% endfor %}
                </table>
                {% if boletas|count == 0 %}
                    <th>
                        <b>Sin datos registrados.</b>
                    </th>
                {% endif %}
                <br><button class="button modify" onclick="ExportToExcel('boletas_report','xlsx')" >Generar Reporte</button>
            </section>
        </div>
        <!--<div id="content4" class="main_contents">
            <section id="tickets_table">
                <p class="subtitle">Historial de tickets</p>
                <table>
                    <tr>
                        <th>ID DEL TICKET</th>
                        <th>PLACA DEL VEHÍCULO</th>
                        <th>HORA DE INGRESO</th>
                    </tr>
                    {% for index in range((NoBoletas|count)) %}
                        <tr>
                            <td>{{ NoBoletas[index][0] }}</td>
                            <td>{{ NoBoletas[index][1] }}</td>
                            <td>{{ NoBoletas[index][2] }}</td>
                            
                        </tr>
                    {% endfor %}
                </table>
                {% if NoBoletas|count == 0 %}
                    <th>
                        <b>Sin datos registrados.</b>
                    </th>
                {% endif %}
            </section>
        </div>-->
        <div id="content4" class="main_contents">
            <section id="admin_validation">
                <form action="{{ url_for('main') }}" method="post">
                    <input type="hidden" name="form_name" value="admin_valid" required>
                    <label for="admin_password"><p class="subtitle">!ATENCION!</p><h4>Para realizar algún cambio, debe validar<br>la contraseña del administrador.</h4></label><br>
                    <input type="password" placeholder="Ingrese su contraseña" id="admin_password" name="admin_password" required><br>
                    <button type="submit" class="button"><i class="fas fa-unlock"></i> Validar Contraseña</button>
                </form>
            </section>
            <section id="admin_validated" style="display: none;" onclick="this.style.display='none'">
                <button class="button modify">Administrador Validado <i class="fas fa-times"></i></button>
            </section>
            <section id="append_employee_form">
                <form action="{{ url_for('main') }}" method="post">
                    <p class="subtitle">Registrar Empleado</p>
                    <input type="hidden" name="form_name" value="append_employee">
                    <label for="doc_id">Ingrese el Documento de Identidad:</label>
                    <input type="text" id="doc_id" name="doc_id" placeholder="DNI o carné de extranjería" required><br>
                    <label for="fullname">Ingrese el Nombre Completo del Empleado:</label>
                    <input type="text" id="fullname" name="fullname" placeholder="Ingrese los nombres y apellidos" required><br>
                    <label for="phone">Ingrese el N° del Teléfono:</label>
                    <input type="number" id="phone" name="phone" placeholder="Ingrese el teléfono" required><br>
                    <label for="salary">Ingrese su Salario:</label>
                    <input type="number" id="salary" name="salary" placeholder="Ejm: 9999.99" required><br>
                    <button type="submit" class="button blocked_admin_buttons" disabled="true"><i class="fas fa-unlock"></i> Registrar Empleado</button>
                </form>
            </section>
            <section id="employees_table">
                <p class="subtitle">Historial de empleados que trabajan en la playa</p>
                <table id="employees_report">
                    <tr>
                        <th>DOC. DE IDENTIDAD</th>
                        <th>NOMBRES Y APELLIDOS</th>
                        <th>TELÉFONO</th>
                        <th>SALARIO</th>
                        <th>MODIFICAR DATOS</th>
                    </tr>
                    {% for index in range((employees|count)) %}
                        <tr>
                            <td>{{ employees[index][0] }}</td>
                            <td>{{ employees[index][1] }}</td>
                            <td>{{ employees[index][2] }}</td>
                            <td>{{ employees[index][3] }}</td>
                            <td class="employee_buttons"><form action="{{ url_for('main') }}" method="post">
                                <input type="hidden" name="form_name" value="delete_employee">
                                <input type="hidden" name="employee_id" value="{{ employees[index][0] }}">
                                <button class="button delete blocked_admin_buttons" type="submit" disabled="true"><i class="fas fa-user-edit"></i> DEL</button>
                            </form>
                            <button class="button modify blocked_admin_buttons" id="edit_empl{{ index }}" onclick="view_mod_data('{{ employees[index][1] }}','{{ employees[index][0] }}')" disabled="true"><i class="fas fa-user-edit"></i> MOD</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% if employees|count == 0 %}
                    <th>
                        <b>Sin datos registrados.</b>
                    </th>
                {% endif %}
                <br><button class="button modify" onclick="ExportToExcel('employees_report','xlsx')" >Generar Reporte</button>
            </section>
            <section id="empl_mod_data" style="display: none;">
                <p class="subtitle" id="empl_data"></p>
                <form action="{{ url_for('main') }}" method="post">
                    <input type="hidden" name="form_name" value="modify_employee">
                    <input type="hidden" name="employee_id" id="employee_id" value="">
                    <label for="phone">Ingrese el Nuevo Teléfono del Empleado: </label>
                    <input type="number" name="new_phone" id="new_phone" placeholder="Ingrese el N° Teléfono"><br>
                    <label for="salary">Ingrese el Nuevo Salario del Empleado:</label>
                    <input type="number" name="new_salary" id="new_salary" placeholder="Ejm: 9999.99"><br>
                    <button class="button modify blocked_admin_buttons" type="submit"><i class="fa fa-user-pen"></i> Modificar Datos</button>
                    <p class="advertisement">*Los campos que no son rellenados no serán cambiados.</p>
                    <p class="advertisement">*Los campos <b>Documento de Identidad</b> y <b>Nombres y Apellidos</b> son INMUTABLES.</p>
                </form>
            </section>
        </div>
    </div>
</div>
{% endblock %}