#home_content {
    display: block;
    box-sizing: border-box;
    background-color: white;
}

#menu {
    text-align: right;
    background-color: rgb(45, 48, 51);
    padding: 0.3rem 0.2rem;
}



#presentation {
    min-height: 65rem;
    font-size: small;
}