html {
    scroll-behavior: smooth;
    font-size: 14px;
}

body {  
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Cambria', Times, serif;
    background-color: rgb(119, 116, 116);
}

#body {
    font-style: normal;
    display: block;
    text-align: center;
    max-width: 70%;
    margin: auto;
}

menu {
    margin:0;
}

#title {
    padding: 2rem;
    border-radius: 2rem 2rem 0rem  0rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 3rem;
}

#footer {
    padding: 2rem;
    border-radius: 0rem 0rem 2rem 2rem;
    background-color: black;
    color: white;
    font-size: 1.5rem;
}

.subtitle {
    font-size: 1.3rem;
    font-weight: bold;
}

#content {
    background-color: transparent;
    color: black;
}

.button {
    background-color: rgb(30, 30, 177);
    color:rgb(140, 165, 189);
    border-radius: 0.5rem;
    border: 0.2rem rgb(1, 6, 255) solid;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.3rem 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
}

.button:hover {
    color: rgb(255, 255, 255);
    background-color:rgb(1, 6, 255);
}

.delete {
    background-color: red;
    border: 0.2rem rgb(255, 1, 1) solid;
}
.modify {
    background-color: rgb(0, 171, 6);
    border: 0.2rem rgb(0, 179, 6) solid;
}
.delete:hover {
    background-color:rgb(171, 45, 68);
}
.modify:hover {
    background-color: rgb(89, 170, 92);
}
.advertisement {
    font-size: 0.8rem;
    color: rgb(124, 84, 84);
    font-style: italic;
}

a {
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.8rem;
}

h6 {
    font-size: 0.5rem;
}

table {
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    background-color: rgb(87, 26, 4);
    color: white;
    padding: 0.2rem 0.6rem;
    border-radius: 0.2rem;
}
td {
    background-color: rgb(233, 186, 160);
    color: black;
    border-top: 1px solid gray;
}

ul {
    list-style: none;
}

input {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 700px) {
    html {
        font-size: 11px;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 9px;
    }
}