*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

#login_content {
    min-height: 65rem;
    background-color: rgb(66, 114, 114);
    margin: auto;
    padding: 1.2rem;
    box-sizing: border-box;
    text-align: center;
}

image {
    width: auto;
}

#login_form {
    box-sizing: border-box;
    width: 24rem;
    padding: 0.8rem 3rem;
    margin: auto auto;
    border-radius: 4.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
}

label {
    padding-bottom: 0.4rem;
    box-sizing: border-box;
}

input {
    padding: 0.2rem;
    margin-bottom: 0.8rem;
    width: 80%;
    border-radius: o.3rem;
    box-sizing: border-box;
}

input[type="radio"]{
    width: auto;
}

#submit {
    text-align: center;
}